body {
    font-family: 'Radio Canada', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar {
  background-color: #2155CD;
  width: 50;
}

.inicio{
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
}

.acercademi{
    background-color: #0AA1DD ;
}
.desafio{
  background-color: #79DAE8;
}